.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #4CAF50;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background: lightgrey;
}

.Login {
    margin-top: 25vh;
}

.Login-header {
    background-color: #4CAF50;
    padding-bottom: 0px;
}

.Login-title{
    width:100%;
    position: absolute;
}

.Login-buttons{
    width: 100%;
    text-align: right;
}

.Login-buttons input,button {
    margin: 0px 5px 0px 5px;
}

.Login-reset{
    font-size: 12px;
    font-style: italic;
}

.Login-button{
    background-color: #606060;
    border-color: #606060;
}

.Login-button:hover{
    background-color: #8D8D8D;
    border-color: #8D8D8D;
}

.SignUp-form{
    margin-top: 20px;
}

.Signup-half{
    width:40%;
}

.Signup-button{
    background-color: #606060;
    border-color: #606060;
}

.navbar .dropdown-menu {
    left: -100px;
}

.navbar > div > a {
    color: white !important;
}

.w-max {
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.bg-grey {
    background-color: lightgrey;
}

.Navbar-dashboard{
    color: #4CAF50;
    background-color: #4CAF50;
}

.Navbar-dashboard a{
    color:white!important;
}

.menu-dashboard a:hover{
    color: #606060!important;
}

.input-group {
    height: 2rem !important;
}

.navbar-brand img {
    max-width: 100px;
    max-height: 50px;
    margin-right: 2rem;
}

.catch-phrase {
    text-shadow: 2px 2px white;
}

/**
    Masque les logos sur les petits écrans
 */
@media screen and (max-width: 1010px) {
    .navbar > .navbar-brand {
        display: none;
    }
}

.chatbox {
    max-height: 300px !important;
    overflow-y: scroll;
}

.chatbox-container {
    width:100%;
    left:75% !important;
}

.chat-header{
    border-bottom: 1px solid black;
}

.msg {
    width: 75%;
}

.msg-author {
    background-color: #f1f0f0;
    text-align: left;
}

.msg-recipient {
    color:white;
    text-align: right;
}

.figure-chat{
    cursor:pointer;
}